.auth-reset-password-freelanc-child,
.auth-reset-password-freelanc-item {
  position: absolute;
  top: -511px;
  left: -505px;
  width: 1017.7px;
  height: 1122.2px;
  object-fit: contain;
}
.auth-reset-password-freelanc-item {
  top: 66px;
  left: 854px;
  width: 1161.8px;
  height: 1217.8px;
}
.have-an-account {
  position: relative;
  line-height: 18px;
}
.leading-icon4 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button5,
.header-cta1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button5 {
  width: 98px;
  border-radius: var(--br-xl);
  background-color: var(--black);
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  cursor: pointer;
  color: var(--gray-5);
}
.header-cta1 {
  position: absolute;
  top: 50px;
  left: 1141px;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.auth-reset-password-freelanc-inner {
  position: absolute;
  top: 763px;
  left: -260px;
  filter: blur(20px);
  border-radius: 50%;
  background-color: var(--black);
  width: 521px;
  height: 521px;
}
.auth-reset-password-freelanc-child1 {
  position: absolute;
  top: calc(50% - 391px);
  left: calc(50% - 554px);
  box-shadow: 0 18px 93px 26px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  width: 1108px;
  height: 783px;
}
.reset-password {
  position: relative;
  text-transform: capitalize;
  text-align: center;
}
.label2 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.mail-icon2 {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text126 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.content2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.help-icon2 {
  width: 16px;
  position: relative;
  height: 16px;
  display: none;
}
.hint-text2,
.input2 {
  color: var(--neutral-gray-gray-500);
}
.input2 {
  align-self: stretch;
  box-shadow: var(--shadow-xs);
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm);
  gap: var(--gap-5xs);
  font-size: var(--text-md-regular-size);
  font-family: var(--text-md-regular);
}
.hint-text2 {
  width: 320px;
  position: relative;
  line-height: 20px;
  display: none;
}
.input-field-base2,
.input-field2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field-base2 {
  align-self: stretch;
  gap: var(--gap-7xs);
}
.input-field2 {
  width: 440px;
  font-size: var(--body-medium-size);
  color: var(--gray-800);
}
.primary-link {
  justify-content: center;
  cursor: pointer;
  color: var(--blue-500);
}
.button6,
.log-in-link,
.primary-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.log-in-link {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.button6 {
  width: 132px;
  border-radius: var(--br-xl);
  background-color: var(--black);
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  cursor: pointer;
  font-size: var(--body-medium-size);
  color: var(--gray-5);
}
.form-footer1,
.form1,
.reset-password-parent {
  width: 440px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form-footer1 {
  flex-direction: row;
  gap: var(--gap-xs);
}
.form1,
.reset-password-parent {
  flex-direction: column;
  font-size: var(--text-md-regular-size);
}
.reset-password-parent {
  position: absolute;
  top: calc(50% - 138.5px);
  left: calc(50% - 262px);
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 525px;
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-24xl);
  gap: var(--gap-17xl);
  font-size: var(--font-size-13xl);
}
.all-copyrights-are2 {
  width: 241px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.footer-copy-rights2 {
  position: absolute;
  top: 975px;
  left: 0;
  box-shadow: 4px 4px 4px rgba(31, 33, 41, 0.25);
  border-radius: var(--br-base);
  width: 1440px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xs);
  box-sizing: border-box;
  font-size: var(--body-medium-size);
}
.black-logo-no-background-23 {
  position: absolute;
  top: 151px;
  left: 196px;
  width: 209px;
  height: 60px;
  overflow: hidden;
}
.auth-reset-password-freelanc {
  width: 100%;
  position: relative;
  border-radius: var(--br-17xl);
  background-color: var(--fill-1-);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-md-regular-size);
  color: var(--black);
  font-family: var(--body-medium);
}
