.auth-register-client-1-child,
.auth-register-client-1-item {
  position: absolute;
  top: -511px;
  left: -505px;
  width: 1017.7px;
  height: 1122.2px;
  object-fit: contain;
}
.auth-register-client-1-item {
  top: 66px;
  left: 855px;
  width: 1161.8px;
  height: 1217.8px;
}
.leading-icon17 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button24,
.header-cta8 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button24 {
  width: 98px;
  border-radius: var(--br-xl);
  background-color: var(--black);
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  cursor: pointer;
  color: var(--gray-5);
}
.header-cta8 {
  position: absolute;
  top: 50px;
  left: 1141px;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--text-md-regular-size);
}
.auth-register-client-1-inner {
  position: absolute;
  top: 763px;
  left: -260px;
  filter: blur(20px);
  border-radius: 50%;
  background-color: var(--black);
  width: 521px;
  height: 521px;
}
.auth-register-client-1-child1 {
  position: absolute;
  top: calc(50% - 392px);
  left: calc(50% - 609px);
  box-shadow: 0 18px 93px 26px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  width: 1108px;
  height: 783px;
}
.create-a-new {
  position: relative;
  font-size: var(--font-size-13xl);
  text-transform: capitalize;
  text-align: center;
}
.flat-color-iconsgoogle {
  width: 20px;
  position: relative;
  border-radius: var(--br-base);
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.google {
  position: relative;
  line-height: 20px;
}
.flat-color-iconsgoogle-parent,
.google-auth {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flat-color-iconsgoogle-parent {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.google-auth {
  flex: 1;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.04);
  border-radius: var(--br-5xs);
  background-color: var(--fill-1-);
  height: 41.7px;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-17xl);
  box-sizing: border-box;
}
.icsharp-facebook-icon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.google-auth-parent {
  width: 317px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-darkslategray-200);
}
.frame-child19 {
  width: 101px;
  border-top: 1px dashed var(--black);
  box-sizing: border-box;
  height: 1px;
}
.frame-child19,
.or {
  position: relative;
}
.line-parent1 {
  width: 314px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--text-s-regular-size);
  color: var(--color-darkslategray-100);
}
.container-icon {
  width: 32px;
  position: relative;
  height: 32px;
}
.stepper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.rectangle {
  flex: 1;
  position: relative;
  background-color: var(--gray-500);
  height: 2px;
}
.stepper-parent,
.stepper1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.stepper1 {
  width: 112px;
  align-items: center;
}
.stepper-parent {
  align-items: flex-start;
  gap: var(--gap-10xs);
}
.mail-icon14 {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text149 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.content17 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.help-icon12 {
  width: 16px;
  position: relative;
  height: 16px;
  display: none;
}
.hint-text14,
.input14 {
  color: var(--neutral-gray-gray-500);
}
.input14 {
  align-self: stretch;
  box-shadow: var(--shadow-xs);
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm);
  gap: var(--gap-5xs);
  font-size: var(--text-md-regular-size);
  font-family: var(--font-manrope);
}
.hint-text14 {
  width: 320px;
  position: relative;
  line-height: 20px;
  font-family: var(--text-md-regular);
  display: none;
}
.input-field-base14 {
  gap: var(--gap-7xs);
}
.input-field-base14,
.input-field14 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.caretdown-icon1 {
  width: 16px;
  position: relative;
  height: 16px;
}
.input-field-parent2 {
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--gray-800);
}
.already-registered {
  position: relative;
  line-height: 18px;
}
.log-in-link2,
.primary-link2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.primary-link2 {
  justify-content: center;
  color: var(--blue-500);
}
.log-in-link2 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.register18 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.button25,
.form-footer7 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button25 {
  width: 166px;
  border-radius: var(--br-xl);
  background-color: var(--black);
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  color: var(--gray-5);
}
.form-footer7 {
  width: 440px;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.create-a-new-account-parent,
.form9 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form9 {
  width: 440px;
  justify-content: flex-start;
  font-size: var(--text-md-regular-size);
}
.create-a-new-account-parent {
  position: absolute;
  top: calc(50% - 381px);
  left: calc(50% - 318px);
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  border: 0.5px solid var(--gray-300);
  box-sizing: border-box;
  height: 761px;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-24xl);
}
.all-copyrights-are9 {
  width: 241px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.footer-copy-rights9 {
  position: absolute;
  top: 975px;
  left: 0;
  box-shadow: 4px 4px 4px rgba(31, 33, 41, 0.25);
  border-radius: var(--br-base);
  width: 1440px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xs);
  box-sizing: border-box;
}
.black-logo-no-background-210 {
  position: absolute;
  top: 150px;
  left: 141px;
  width: 209px;
  height: 60px;
  overflow: hidden;
}
.auth-register-client-1 {
  width: 100%;
  position: relative;
  border-radius: var(--br-17xl);
  background-color: var(--fill-1-);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-medium-size);
  color: var(--black);
  font-family: var(--body-medium);
}
