.auth-create-new-password-fre-child2 {
  position: absolute;
  top: -511px;
  left: -505px;
  width: 1017.7px;
  height: 1122.2px;
  object-fit: contain;
}
.auth-create-new-password-fre-child3 {
  position: absolute;
  top: 66px;
  left: 854px;
  width: 1161.8px;
  height: 1217.8px;
  object-fit: contain;
}
.have-an-account3 {
  position: relative;
  line-height: 18px;
}
.leading-icon15 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button22,
.header-cta7 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button22 {
  width: 98px;
  border-radius: var(--br-xl);
  background-color: var(--black);
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  cursor: pointer;
  color: var(--gray-5);
}
.header-cta7 {
  position: absolute;
  top: 50px;
  left: 1141px;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--text-md-regular-size);
}
.auth-create-new-password-fre-child4 {
  position: absolute;
  top: 763px;
  left: -260px;
  filter: blur(20px);
  border-radius: 50%;
  background-color: var(--black);
  width: 521px;
  height: 521px;
}
.auth-create-new-password-fre-child5 {
  position: absolute;
  top: calc(50% - 392px);
  left: calc(50% - 554px);
  box-shadow: 0 18px 93px 26px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  width: 1108px;
  height: 783px;
}
.supporting-text6,
.text146 {
  align-self: stretch;
  position: relative;
}
.text146 {
  line-height: 38px;
  font-weight: 600;
}
.supporting-text6 {
  font-size: var(--text-md-regular-size);
  line-height: 24px;
  color: var(--neutral-gray-gray-500);
}
.header3,
.text-and-supporting-text2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.text-and-supporting-text2 {
  align-items: flex-start;
  gap: var(--gap-xs);
}
.header3 {
  align-items: center;
  text-align: center;
  font-size: var(--font-size-11xl);
}
.label12 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.mail-icon12 {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text147 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.content15 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.help-icon10 {
  width: 16px;
  position: relative;
  height: 16px;
  display: none;
}
.hint-text12,
.input12 {
  font-family: var(--text-md-regular);
  color: var(--neutral-gray-gray-500);
}
.input12 {
  align-self: stretch;
  box-shadow: var(--shadow-xs);
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  border: 1px solid var(--gray-3001);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm);
  gap: var(--gap-5xs);
  font-size: var(--text-md-regular-size);
}
.hint-text12 {
  width: 320px;
  position: relative;
  line-height: 20px;
  display: none;
}
.input-field-base12 {
  gap: var(--gap-7xs);
}
.form7,
.input-field-base12 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.form-group,
.input13 {
  display: flex;
  align-items: center;
}
.input13 {
  align-self: stretch;
  box-shadow: var(--shadow-xs);
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  border: 1px solid var(--gray-3001);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm);
  gap: var(--gap-5xs);
  font-size: var(--text-md-regular-size);
  color: var(--neutral-gray-gray-500);
}
.form-group {
  width: 440px;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-xs);
  color: var(--gray-800);
}
.register16 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.button23,
.form-footer6 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button23 {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--black);
  height: 50px;
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  cursor: pointer;
}
.form-footer6 {
  width: 440px;
  justify-content: flex-start;
}
.form8,
.header-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form8 {
  width: 440px;
  justify-content: flex-start;
  color: var(--gray-5);
}
.header-group {
  position: absolute;
  top: calc(50% - 209.5px);
  left: calc(50% - 263px);
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-24xl);
  gap: var(--gap-17xl);
  color: var(--gray-900);
}
.all-copyrights-are8 {
  width: 241px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.footer-copy-rights8 {
  position: absolute;
  top: 975px;
  left: 0;
  box-shadow: 4px 4px 4px rgba(31, 33, 41, 0.25);
  border-radius: var(--br-base);
  width: 1440px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xs);
  box-sizing: border-box;
}
.black-logo-no-background-29 {
  position: absolute;
  top: 150px;
  left: 196px;
  width: 209px;
  height: 60px;
  overflow: hidden;
}
.auth-create-new-password-fre1 {
  width: 100%;
  position: relative;
  border-radius: var(--br-17xl);
  background-color: var(--fill-1-);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-medium-size);
  color: var(--black);
  font-family: var(--body-medium);
}
