.auth-login-freelancer-child6,
.auth-login-freelancer-child7 {
  position: absolute;
  top: -511px;
  left: -505px;
  width: 1017.7px;
  height: 1122.2px;
  object-fit: contain;
}
.auth-login-freelancer-child7 {
  top: 66px;
  left: 855px;
  width: 1161.8px;
  height: 1217.8px;
}
.dont-have-an2 {
  position: relative;
  line-height: 18px;
}
.leading-icon10 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button14,
.header-cta4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button14 {
  width: 98px;
  border-radius: var(--br-xl);
  background-color: var(--black);
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  color: var(--gray-5);
}
.header-cta4 {
  position: absolute;
  top: 50px;
  left: 1101px;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--text-md-regular-size);
}
.auth-login-freelancer-child8 {
  position: absolute;
  top: 763px;
  left: -260px;
  border-radius: 50%;
  background-color: var(--black);
  width: 521px;
  height: 521px;
}
.auth-login-freelancer-child9 {
  position: absolute;
  top: calc(50% - 392px);
  left: calc(50% - 566px);
  box-shadow: 0 18px 93px 26px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  width: 1108px;
  height: 783px;
}
.welcome-back2 {
  position: relative;
  text-transform: capitalize;
}
.supporting-text4 {
  width: 360px;
  position: relative;
  font-size: var(--text-md-regular-size);
  line-height: 24px;
  color: var(--gray-400);
  display: inline-block;
}
.welcome-back-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-7xs);
  text-align: center;
  font-size: var(--font-size-13xl);
}
.label7 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.mail-icon7 {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text137 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.content10 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.help-icon5 {
  width: 16px;
  position: relative;
  height: 16px;
  display: none;
}
.hint-text7,
.input7 {
  color: var(--neutral-gray-gray-500);
}
.input7 {
  align-self: stretch;
  box-shadow: var(--shadow-xs);
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm);
  gap: var(--gap-5xs);
  font-size: var(--text-md-regular-size);
  font-family: var(--text-md-regular);
}
.hint-text7 {
  width: 320px;
  position: relative;
  line-height: 20px;
  display: none;
}
.input-field-base7,
.input-field7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field-base7 {
  align-self: stretch;
  gap: var(--gap-7xs);
}
.input-field7 {
  width: 440px;
}
.text138 {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.input8 {
  align-self: stretch;
  box-shadow: var(--shadow-xs);
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm);
  gap: var(--gap-5xs);
  font-size: var(--display-s-semibold-size);
  color: var(--neutral-gray-gray-500);
}
.input-field-container {
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  color: var(--gray-800);
}
.checkbox-base2 {
  width: 16px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--fill-1-);
  border: 1px solid var(--gray-3001);
  box-sizing: border-box;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.checkbox4,
.checkbox5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.checkbox4 {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.text140 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.button15,
.row2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--gray-700);
}
.row2 {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  color: var(--gray-7001);
}
.loader-icon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-base5,
.button16 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
}
.button-base5 {
  flex: 1;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
}
.button16 {
  width: 360px;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent12 {
  position: absolute;
  top: calc(50% - 220.5px);
  left: calc(50% - 263px);
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-24xl);
  gap: var(--gap-17xl);
}
.all-copyrights-are5 {
  width: 241px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.footer-copy-rights5 {
  position: absolute;
  top: 975px;
  left: 0;
  box-shadow: 4px 4px 4px rgba(31, 33, 41, 0.25);
  border-radius: var(--br-base);
  width: 1440px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xs);
  box-sizing: border-box;
}
.black-logo-no-background-26 {
  position: absolute;
  top: 151px;
  left: 196px;
  width: 209px;
  height: 60px;
  overflow: hidden;
}
.auth-login-freelancer2 {
  width: 100%;
  position: relative;
  border-radius: var(--br-17xl);
  background-color: var(--fill-1-);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-medium-size);
  color: var(--black);
  font-family: var(--body-medium);
}
