.black-logo-no-background-221 {
  width: 152px;
  position: relative;
  height: 43.6px;
  overflow: hidden;
  flex-shrink: 0;
}
.top11 {
  align-self: stretch;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg);
  box-sizing: border-box;
}
.item27 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.items15,
.items16 {
  align-self: stretch;
  padding: var(--padding-lg) var(--padding-base);
}
.items15 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  cursor: pointer;
}
.items16 {
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  color: var(--black);
}
.item31,
.items16 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.pxiconchevron-down6 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.dropdown6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-base);
  gap: var(--gap-base);
}
.chatteardroptext-icon3 {
  width: 24px;
  position: relative;
  height: 24px;
}
.item-list3,
.upper-sidebar3 {
  align-self: stretch;
  flex-direction: column;
}
.item-list3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.upper-sidebar3 {
  gap: var(--gap-9xl);
}
.items19,
.lower-item-list3,
.upper-sidebar3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.items19 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-base);
  gap: var(--gap-base);
}
.lower-item-list3 {
  width: 247px;
  flex-direction: column;
}
.avatar-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--fill-1-);
  width: 48px;
  height: 48px;
}
.jv3 {
  position: absolute;
  top: 12px;
  left: 15px;
  line-height: 24px;
}
.avatar3 {
  width: 48px;
  position: relative;
  height: 48px;
}
.lorem-ipsum-dolor3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs-1);
  line-height: 16px;
  color: var(--gray-400);
}
.profile10,
.profile11 {
  align-self: stretch;
  display: flex;
}
.profile11 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  color: var(--fill-1-);
  font-family: var(--body-medium);
}
.profile10 {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  font-family: var(--font-bold);
}
.lower-sidebar3,
.sidebar-client3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.lower-sidebar3 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-9xl);
  font-size: var(--text-md-regular-size);
}
.sidebar-client3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black);
  width: 263px;
  height: 1233px;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-base);
  box-sizing: border-box;
}
.project-statistics {
  position: relative;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  font-weight: 500;
}
.view-all {
  position: relative;
  font-size: var(--text-s-regular-size);
  line-height: 24.02px;
  font-weight: 600;
  font-family: var(--text-md-regular);
  color: var(--gray-400);
  text-align: left;
}
.project-statistics-parent {
  align-self: stretch;
  background-color: var(--fill-1-);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.group-child10,
.group-child9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--gray-200);
  width: 43px;
  height: 43px;
}
.group-child10 {
  background-color: var(--gray-700);
}
.div32 {
  position: absolute;
  top: 14.5px;
  left: 10.6px;
  font-weight: 500;
  display: inline-block;
  width: 22.7px;
  height: 15.8px;
}
.ellipse-parent19 {
  width: 43px;
  position: relative;
  height: 43px;
}
.redesign-all-the,
.responsive-mobile-redesign {
  width: 171px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 18px;
  flex-shrink: 0;
}
.redesign-all-the {
  width: 126px;
  color: var(--gray-300);
  height: 19px;
}
.group-parent10,
.responsive-mobile-redesign-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.responsive-mobile-redesign-parent {
  flex-direction: column;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--text-s-regular-size);
  color: var(--gray-700);
  font-family: var(--body-medium);
}
.group-parent10 {
  flex-direction: row;
  gap: var(--gap-mid);
}
.days-left {
  position: relative;
}
.days-left-wrapper,
.frame-parent55 {
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.days-left-wrapper {
  background-color: var(--gray-200);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-5xs);
  text-align: left;
  font-size: var(--desktop-overline-medium-10-size);
  color: var(--black);
  font-family: var(--body-medium);
}
.frame-parent55 {
  align-self: stretch;
  background-color: var(--fill-1-);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  height: 80px;
  justify-content: space-between;
  padding: var(--padding-xl);
}
.design-all-the,
.landing-page-design {
  width: 127px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 18px;
  flex-shrink: 0;
}
.design-all-the {
  width: 133px;
  color: var(--gray-300);
  height: 19px;
}
.landing-page-design-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  text-align: left;
  font-size: var(--text-s-regular-size);
  color: var(--gray-700);
}
.group-child13,
.group-child14 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--gray-200);
  width: 43.5px;
  height: 43.4px;
}
.group-child14 {
  background-color: var(--gray-700);
}
.div34 {
  position: absolute;
  top: 14.6px;
  left: 10.8px;
  font-weight: 500;
  display: inline-block;
  width: 23px;
  height: 16px;
}
.ellipse-parent21 {
  width: 43.5px;
  position: relative;
  height: 43.4px;
}
.design-all-the1,
.mobile-application-design {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 157px;
  height: 18px;
}
.design-all-the1 {
  top: 22.6px;
  color: var(--gray-300);
  width: 133px;
  height: 19px;
}
.mobile-application-design-parent {
  width: 157px;
  position: relative;
  height: 41.6px;
  text-align: left;
  font-size: var(--text-s-regular-size);
  color: var(--gray-700);
}
.group-parent12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.frame-parent53,
.frame-parent54 {
  background-color: var(--fill-1-);
  display: flex;
  flex-direction: column;
}
.frame-parent54 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-2xs-9);
  color: var(--color-gray-100);
}
.frame-parent53 {
  position: absolute;
  top: 874px;
  left: 287px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-xl);
  width: 371px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-2xl);
  text-align: center;
  font-size: var(--text-md-regular-size);
  color: var(--gray-700);
  font-family: var(--font-bold);
}
.dark-analyticsbro-icon {
  width: 142px;
  position: relative;
  height: 142px;
  object-fit: cover;
}
.hi-vanshika-pandey,
.welcome-to-dashboard {
  align-self: stretch;
  position: relative;
}
.welcome-to-dashboard {
  font-size: var(--font-size-13xl);
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 36px;
  flex-shrink: 0;
}
.project-activity-will {
  align-self: stretch;
  position: relative;
  font-size: var(--text-s-regular-size);
}
.hi-vanshika-pandey-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-9xs);
  gap: var(--gap-3xs);
}
.dark-analyticsbro-parent {
  position: absolute;
  top: 116px;
  left: 287px;
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  width: 758px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: 54px;
  color: var(--color-gray-200);
}
.pages-dashboard {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.main-dashboard {
  position: relative;
  font-size: var(--display-text-small-bold-size);
  letter-spacing: -0.02em;
  line-height: 42px;
  color: var(--gray-700);
}
.pages-dashboard-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.background-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 49px;
  background-color: var(--gray-1001);
}
.background,
.background-child,
.search11 {
  position: absolute;
  left: 0;
}
.background {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.search11 {
  top: calc(50% - 10px);
  letter-spacing: -0.02em;
  line-height: 20px;
}
.search-icon,
.text183 {
  position: absolute;
  top: calc(50% - 9.5px);
  left: 42px;
  width: 44px;
  height: 20px;
}
.search-icon {
  top: calc(50% - 5.5px);
  left: 20px;
  width: 11px;
  height: 11px;
}
.large-input {
  width: 214px;
  position: relative;
  height: 41px;
}
.notifications-none-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.avatar-style-6 {
  width: 41px;
  position: relative;
  height: 41px;
  object-fit: cover;
}
.large-input-parent {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  border: 1px solid var(--gray-200);
  box-sizing: border-box;
  height: 62.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-xl);
}
.misc {
  width: 339px;
  position: relative;
  height: 62.5px;
}
.frame-parent58 {
  position: absolute;
  top: 24px;
  left: 287px;
  width: 1129px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 471px;
  color: var(--gray-400);
  font-family: var(--body-l-18-sp-bold);
}
.january-2022 {
  width: 123.1px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-child117,
.frame-child118 {
  width: 24.8px;
  position: relative;
  height: 24px;
}
.frame-child118 {
  object-fit: contain;
}
.january-2022-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs);
}
.group-child15 {
  position: absolute;
  top: 197px;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--gray-1001);
  width: 129px;
  height: 34px;
}
.group-child16 {
  position: absolute;
  top: 199px;
  left: 2.1px;
  border-radius: 50%;
  width: 31px;
  height: 30px;
}
.group-child16,
.group-child17 {
  background-color: var(--gray-700);
}
.group-child17,
.group-child18 {
  position: absolute;
  top: 199px;
  left: 96px;
  border-radius: 50%;
  width: 31px;
  height: 30px;
}
.div35,
.div36 {
  position: absolute;
  top: 37px;
  left: 13.9px;
  display: flex;
  align-items: center;
  width: 8.3px;
}
.div36 {
  top: 79px;
  left: 12.9px;
}
.div37,
.div38 {
  left: 9.3px;
  width: 16.5px;
}
.div37 {
  position: absolute;
  top: 121px;
  display: flex;
  align-items: center;
}
.div38 {
  top: 163px;
}
.div38,
.div39,
.div40,
.div41,
.div42 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div39 {
  top: 206px;
  left: 8.3px;
  font-family: var(--text-md-regular);
  color: var(--fill-1-);
  width: 18.6px;
  height: 16px;
}
.div40,
.div41,
.div42 {
  top: 37px;
  left: 60px;
  width: 8.3px;
}
.div41,
.div42 {
  top: 79px;
}
.div42 {
  top: 121px;
  left: 56.4px;
  width: 16.5px;
}
.div43 {
  top: 163px;
  left: 55.4px;
  width: 16.5px;
}
.div43,
.div44,
.div45,
.div46,
.div47 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div44 {
  top: 205px;
  left: 55.4px;
  font-family: var(--text-md-regular);
  width: 18.6px;
}
.div45,
.div46,
.div47 {
  top: 37px;
  left: 107.3px;
  width: 8.3px;
}
.div46,
.div47 {
  top: 79px;
  left: 103.2px;
  width: 16.5px;
}
.div47 {
  top: 121px;
  left: 104.2px;
}
.div48 {
  top: 163px;
  left: 102.2px;
  width: 16.5px;
}
.div48,
.div49,
.div50,
.div51,
.div52,
.div53 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div49 {
  top: 206px;
  left: 103.2px;
  font-family: var(--text-md-regular);
  color: var(--fill-1-);
  width: 16.5px;
  height: 16px;
}
.div50,
.div51,
.div52,
.div53 {
  top: 37px;
  left: 154.8px;
  width: 8.3px;
}
.div51,
.div52,
.div53 {
  top: 79px;
  left: 152.2px;
  width: 16.5px;
}
.div52,
.div53 {
  top: 121px;
  left: 151.2px;
}
.div53 {
  top: 163px;
  left: 150.7px;
}
.div54,
.div55,
.div56,
.div57,
.div58,
.div59,
.div60,
.div61 {
  position: absolute;
  top: 37px;
  left: 202.4px;
  display: flex;
  align-items: center;
  width: 8.3px;
}
.div55,
.div56,
.div57,
.div58,
.div59,
.div60,
.div61 {
  top: 79px;
  left: 199.3px;
  width: 16.5px;
}
.div56,
.div57,
.div58,
.div59,
.div60,
.div61 {
  top: 121px;
  left: 198.8px;
}
.div57,
.div58,
.div59,
.div60,
.div61 {
  top: 163px;
  left: 197.8px;
}
.div58,
.div59,
.div60,
.div61 {
  top: 37px;
  left: 248px;
  width: 8.3px;
}
.div59,
.div60,
.div61 {
  top: 79px;
  left: 244.4px;
  width: 16.5px;
}
.div60,
.div61 {
  top: 121px;
  left: 243.4px;
}
.div61 {
  top: 163px;
  left: 243.9px;
}
.su {
  position: relative;
  font-weight: 500;
  opacity: 0.8;
}
.su-parent {
  position: absolute;
  top: 0;
  left: 8.3px;
  width: 298.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--gray-700);
  font-family: var(--text-md-regular);
}
.div62,
.div63,
.div64,
.div65 {
  position: absolute;
  top: 37px;
  left: 294.1px;
  display: flex;
  align-items: center;
  width: 8.3px;
}
.div63,
.div64,
.div65 {
  top: 79px;
  left: 290px;
  width: 16.5px;
}
.div64,
.div65 {
  top: 121px;
  left: 290.5px;
}
.div65 {
  top: 163px;
  left: 288.9px;
}
.rectangle-parent27 {
  align-self: stretch;
  position: relative;
  height: 231px;
  font-size: var(--body-medium-size);
  color: var(--gray-400);
  font-family: var(--body-medium);
}
.frame-parent59 {
  position: absolute;
  top: 116px;
  left: 1069px;
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  width: 347px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  font-size: var(--body-l-18-sp-bold-size);
  color: #393230;
  font-family: var(--text-md-regular);
}
.text184,
.text185 {
  position: relative;
  letter-spacing: 0.01em;
}
.text184 {
  align-self: stretch;
  line-height: 30px;
  font-weight: 600;
}
.text185 {
  font-size: var(--body-medium-size);
  line-height: 20px;
  font-weight: 500;
  color: var(--neutral-black-black-300);
}
.header19,
.title19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.title19 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
}
.header19 {
  align-self: stretch;
  flex-direction: row;
  z-index: 3;
  text-align: left;
  font-size: var(--display-s-semibold-size);
  color: var(--neutral-black-black-500);
}
.bagde,
.fi-sr-money-icon {
  overflow: hidden;
  flex-shrink: 0;
}
.fi-sr-money-icon {
  width: 18px;
  position: relative;
  height: 18px;
}
.bagde {
  width: 36px;
  border-radius: var(--br-5xs);
  background-color: var(--gray-200);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.text186,
.text187 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
}
.text187 {
  line-height: 32px;
  font-weight: 600;
}
.number {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--display-m-semibold-size);
  color: var(--neutral-black-black-500);
}
.details2,
.metric {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.metric {
  flex-direction: row;
  gap: var(--gap-xs);
}
.bagde1,
.bagde2 {
  width: 36px;
  border-radius: var(--br-5xs);
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.bagde1 {
  background-color: var(--gray-500);
  display: flex;
  align-items: center;
}
.bagde2 {
  background-color: var(--gray-300);
}
.bagde2,
.days,
.div66,
.metrics {
  display: flex;
  align-items: center;
}
.metrics {
  width: 641px;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
  text-align: center;
  font-size: var(--body-medium-size);
}
.days,
.div66 {
  width: 40px;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 18px;
}
.days {
  z-index: 1;
}
.div66 {
  flex-shrink: 0;
}
.line-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.axis,
.y,
.y-axis {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.y {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.axis,
.y-axis {
  flex-direction: column;
}
.y-axis {
  align-items: flex-start;
  gap: var(--gap-lg);
}
.axis {
  align-items: flex-end;
  z-index: 0;
}
.bar1,
.bar2,
.bar3 {
  width: 8px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--gray-700);
  height: 138px;
}
.bar2,
.bar3 {
  background-color: var(--gray-500);
  height: 104px;
}
.bar3 {
  background-color: var(--gray-300);
  height: 40px;
}
.bar {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.text192 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 18px;
}
.bars {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.bar10,
.bar11,
.bar13,
.bar15,
.bar5,
.bar6,
.bar7,
.bar9 {
  width: 8px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--gray-700);
  height: 128px;
}
.bar10,
.bar11,
.bar13,
.bar15,
.bar6,
.bar7,
.bar9 {
  background-color: var(--gray-500);
  height: 113px;
}
.bar10,
.bar11,
.bar13,
.bar15,
.bar7,
.bar9 {
  background-color: var(--gray-300);
  height: 16px;
}
.bar10,
.bar11,
.bar13,
.bar15,
.bar9 {
  background-color: var(--gray-700);
  height: 79px;
}
.bar10,
.bar11,
.bar13,
.bar15 {
  background-color: var(--gray-500);
  height: 126px;
}
.bar11,
.bar13,
.bar15 {
  background-color: var(--gray-300);
  height: 21px;
}
.bar13,
.bar15 {
  background-color: var(--gray-700);
  height: 166px;
}
.bar15 {
  background-color: var(--gray-300);
  height: 58px;
}
.bar17,
.bar18,
.bar19,
.bar21,
.bar22,
.bar23,
.bar25,
.bar26 {
  width: 8px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--gray-700);
  height: 228px;
}
.bar18,
.bar19,
.bar21,
.bar22,
.bar23,
.bar25,
.bar26 {
  background-color: var(--gray-500);
  height: 152px;
}
.bar19,
.bar21,
.bar22,
.bar23,
.bar25,
.bar26 {
  background-color: var(--gray-300);
  height: 74px;
}
.bar21,
.bar22,
.bar23,
.bar25,
.bar26 {
  background-color: var(--gray-700);
  height: 113px;
}
.bar22,
.bar23,
.bar25,
.bar26 {
  background-color: var(--gray-500);
  height: 128px;
}
.bar23,
.bar25,
.bar26 {
  background-color: var(--gray-300);
  height: 15px;
}
.bar25,
.bar26 {
  background-color: var(--gray-700);
  height: 172px;
}
.bar26 {
  background-color: var(--gray-500);
  height: 115px;
}
.bar27,
.bar29,
.bar30,
.bar31,
.bar33,
.bar34,
.bar35,
.bar37 {
  width: 8px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--gray-300);
  height: 47px;
}
.bar29,
.bar30,
.bar31,
.bar33,
.bar34,
.bar35,
.bar37 {
  background-color: var(--gray-700);
  height: 142px;
}
.bar30,
.bar31,
.bar33,
.bar34,
.bar35,
.bar37 {
  background-color: var(--gray-500);
  height: 89px;
}
.bar31,
.bar33,
.bar34,
.bar35,
.bar37 {
  background-color: var(--gray-300);
  height: 51px;
}
.bar33,
.bar34,
.bar35,
.bar37 {
  background-color: var(--gray-700);
  height: 165px;
}
.bar34,
.bar35,
.bar37 {
  background-color: var(--gray-500);
  height: 114px;
}
.bar35,
.bar37 {
  background-color: var(--gray-300);
  height: 60px;
}
.bar37 {
  background-color: var(--gray-700);
  height: 213px;
}
.bar38,
.bar39,
.bar41,
.bar42,
.bar43,
.bar45,
.bar46,
.bar47 {
  width: 8px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--gray-500);
  height: 129px;
}
.bar39,
.bar41,
.bar42,
.bar43,
.bar45,
.bar46,
.bar47 {
  background-color: var(--gray-300);
  height: 77px;
}
.bar41,
.bar42,
.bar43,
.bar45,
.bar46,
.bar47 {
  background-color: var(--gray-700);
  height: 114px;
}
.bar42,
.bar43,
.bar45,
.bar46,
.bar47 {
  background-color: var(--gray-500);
  height: 83px;
}
.bar43,
.bar45,
.bar46,
.bar47 {
  background-color: var(--gray-300);
  height: 28px;
}
.bar45,
.bar46,
.bar47 {
  background-color: var(--gray-700);
  height: 134px;
}
.bar46,
.bar47 {
  background-color: var(--gray-500);
  height: 102px;
}
.bar47 {
  background-color: var(--gray-300);
  height: 35px;
}
.chart,
.frame,
.revenue-chart {
  display: flex;
  justify-content: flex-start;
}
.frame {
  width: calc(100% - 48px);
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 48px;
  height: 279px;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-5xs);
  z-index: 1;
  text-align: center;
}
.chart,
.revenue-chart {
  flex-direction: column;
}
.chart {
  align-self: stretch;
  height: 288px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-end;
  position: relative;
  z-index: 0;
}
.revenue-chart {
  position: absolute;
  top: 322px;
  left: 287px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  border: 1px solid var(--neutral-gray-gray-50);
  box-sizing: border-box;
  width: 758px;
  align-items: flex-start;
  padding: var(--padding-5xl);
  gap: var(--gap-3xl);
  text-align: right;
  font-size: var(--text-s-regular-size);
  color: var(--neutral-gray-gray-500);
  font-family: var(--text-s-regular);
}
.text204 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 22.18px;
  font-weight: 600;
}
.title20 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.fi-sr-menu-dots-vertical-icon {
  width: 11.8px;
  position: relative;
  height: 11.8px;
  overflow: hidden;
  flex-shrink: 0;
}
.bubble,
.header20 {
  display: flex;
  flex-direction: row;
}
.header20 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.9px;
  z-index: 2;
}
.bubble {
  position: absolute;
  top: calc(50% - 78.4px);
  left: calc(50% - 105.55px);
  border-radius: 739.37px;
  background-color: var(--gray-700);
  width: 156.7px;
  height: 156.7px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs-9);
  box-sizing: border-box;
  font-size: var(--font-size-mini-8);
}
.text206 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 17.74px;
  font-weight: 600;
}
.bubble1,
.bubble2 {
  position: absolute;
  top: 30.3px;
  left: calc(50% + 6.85px);
  border-radius: 739.37px;
  background-color: var(--gray-500);
  width: 99.1px;
  height: 98.3px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs-9);
  box-sizing: border-box;
}
.bubble2 {
  top: 116.8px;
  left: calc(50% + 24.55px);
  background-color: var(--gray-300);
  width: 49.5px;
  height: 51px;
}
.chart1,
.dot {
  position: relative;
}
.chart1 {
  align-self: stretch;
  background-color: var(--fill-1-);
  height: 180.4px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
  font-size: var(--font-size-xs-8);
  color: var(--fill-1-);
}
.dot {
  width: 8.9px;
  border-radius: 7.39px;
  background-color: var(--gray-700);
  height: 8.9px;
}
.text208,
.text209 {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.text208 {
  flex: 1;
  line-height: 14.79px;
}
.text209 {
  font-size: var(--font-size-xs-8);
  line-height: 17.74px;
  color: var(--neutral-black-black-500);
}
.detail {
  width: 230.7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs-9);
}
.dot1,
.dot2 {
  width: 8.9px;
  position: relative;
  border-radius: 7.39px;
  background-color: var(--gray-500);
  height: 8.9px;
}
.dot2 {
  background-color: var(--gray-300);
}
.details5,
.project-status {
  display: flex;
  flex-direction: column;
}
.details5 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10.4px;
  z-index: 0;
  font-size: var(--font-size-2xs-4);
}
.project-status {
  position: absolute;
  top: 874px;
  left: 682px;
  box-shadow: 0 3px 22.18px rgba(46, 45, 116, 0.05);
  border-radius: 8.87px;
  background-color: var(--fill-1-);
  width: 363px;
  height: 346px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 17.7px;
  box-sizing: border-box;
  gap: 16.3px;
  font-size: var(--font-size-mini-8);
  color: var(--gray-700);
}
.date {
  align-self: stretch;
  position: relative;
  font-size: var(--text-md-regular-size);
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 600;
}
.fi-sr-clock-icon,
.uiux-daily-meet {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.uiux-daily-meet {
  align-self: stretch;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
}
.fi-sr-clock-icon {
  width: 12px;
  height: 12px;
}
.div74 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 18px;
  font-weight: 500;
}
.time {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.img {
  width: 24px;
  border-radius: var(--br-81xl);
  background-color: var(--gray-200);
  border: 1px solid var(--fill-1-);
  box-sizing: border-box;
  height: 24px;
}
.div75,
.img,
.img1 {
  position: relative;
}
.img1 {
  width: 24px;
  border-radius: var(--br-81xl);
  background-color: var(--gray-200);
  border: 1px solid var(--fill-1-);
  box-sizing: border-box;
  height: 24px;
  margin-left: -8px;
}
.div75 {
  letter-spacing: 0.01em;
  font-weight: 600;
}
.attendance,
.details6,
.more {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.more {
  width: 24px;
  border-radius: var(--br-81xl);
  background-color: var(--gray-400);
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  margin-left: -8px;
}
.attendance,
.details6 {
  justify-content: flex-start;
  font-size: var(--desktop-overline-medium-10-size);
  color: var(--gray-200);
}
.details6 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
  font-size: var(--text-s-regular-size);
  color: var(--neutral-gray-gray-500);
}
.event {
  width: 312px;
  border-radius: var(--br-xs);
  border: 1px solid var(--neutral-gray-gray-100);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-base);
  gap: var(--gap-9xs);
}
.event-list,
.time3,
.title21 {
  display: flex;
  justify-content: flex-start;
}
.time3 {
  flex: 1;
  flex-direction: row;
  align-items: center;
}
.event-list,
.title21 {
  flex-direction: column;
  align-items: flex-start;
}
.event-list {
  position: absolute;
  top: 480px;
  left: 1069px;
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  width: 347px;
  overflow: hidden;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  cursor: pointer;
  color: var(--neutral-black-black-500);
}
.title21 {
  width: 306.8px;
  flex: 1;
  font-size: var(--font-size-mini-8);
  color: var(--gray-700);
}
.group-child19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 23px;
  object-fit: cover;
}
.wpfsim-card-chip-icon2 {
  position: absolute;
  top: 2.2px;
  left: 2.2px;
  width: 3.2px;
  height: 3.2px;
  overflow: hidden;
}
.div82,
.div83,
.div84,
.total-balance2 {
  position: absolute;
  top: 7.8px;
  left: 2.2px;
}
.div82,
.div83,
.div84 {
  top: 15.9px;
}
.div83,
.div84 {
  top: 18.9px;
  font-size: var(--font-size-11xs-2);
}
.div84 {
  top: 10.9px;
  font-size: var(--font-size-10xs-2);
  font-weight: 600;
}
.group-child20 {
  position: absolute;
  top: 2.1px;
  left: 31.6px;
  width: 5.3px;
  height: 3.3px;
}
.master-card2 {
  position: absolute;
  top: 6.3px;
  left: 30.7px;
  font-size: var(--font-size-12xs);
  font-weight: 500;
}
.group-parent14 {
  width: 40px;
  position: relative;
  filter: drop-shadow(0 1.2px 1.86px rgba(151, 151, 151, 0.08));
  height: 23px;
}
.card-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-issuer,
.card-number {
  align-self: stretch;
  position: relative;
  line-height: 15.89px;
  font-weight: 500;
}
.card-number {
  letter-spacing: -0.07em;
  line-height: 38.85px;
  color: var(--color-darkgray-100);
  white-space: pre-wrap;
}
.text215 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs-8);
  font-size: var(--body-medium-size);
  color: var(--black);
}
.card {
  align-self: stretch;
  border-radius: var(--br-2xs-6);
  background-color: var(--fill-1-);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lgi-4) var(--padding-mini-1);
  gap: var(--gap-sm-2);
}
.div88,
.pay-for-beyond {
  align-self: stretch;
  position: relative;
  line-height: 38.85px;
  font-weight: 500;
}
.pay-for-beyond {
  letter-spacing: -0.02em;
}
.div88 {
  font-size: var(--display-s-semibold-size);
  color: var(--gray-700);
}
.pay-for-beyond-parent {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 7.1px;
  gap: 12.4px;
}
.bottom4,
.pay-for-beyond-parent,
.title-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bottom4 {
  align-self: stretch;
  align-items: center;
  padding: 0 var(--padding-mini-1);
  font-size: var(--body-medium-size);
  color: #868686;
}
.title-group {
  position: absolute;
  top: 952px;
  left: 1069px;
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  width: 347px;
  height: 268px;
  align-items: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  cursor: pointer;
  font-size: var(--font-size-11xs-7);
}
.dashboard50,
.profile-client3 {
  border-radius: var(--br-17xl);
  background-color: var(--gray-1001);
  height: 1233px;
}
.profile-client3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  overflow: hidden;
}
.dashboard50 {
  width: 100%;
  position: relative;
  text-align: left;
  font-size: var(--body-medium-size);
  color: var(--fill-1-);
  font-family: var(--body-medium);
}
