.gradient-strip {
  align-self: stretch;
  position: relative;
  background-color: var(--black);
  height: 12px;
}
.heading11 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 72px;
  font-weight: 600;
}
.check-circle-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.text130 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.button-base1 {
  border-radius: var(--br-5xs);
  background-color: var(--success-50);
  border: 1px solid var(--success-50);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg);
  gap: var(--gap-5xs);
}
.button9,
.heading-and-badge {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button9 {
  border-radius: var(--br-5xs);
  align-items: flex-start;
  font-size: var(--font-size-3xl);
  color: var(--green-700);
}
.heading-and-badge {
  align-items: center;
  gap: var(--gap-base);
}
.heading-and-supporting-text {
  width: 1024px;
  flex-direction: column;
}
.content5,
.header1,
.heading-and-resources,
.heading-and-supporting-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-and-resources {
  align-self: stretch;
  flex-direction: row;
}
.content5,
.header1 {
  flex-direction: column;
}
.content5 {
  align-self: stretch;
  padding: var(--padding-45xl) var(--padding-61xl) var(--padding-77xl);
}
.header1 {
  width: 100%;
  position: relative;
  background-color: var(--fill-1-);
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--gray-900);
  font-family: var(--body-medium);
}
