.black-logo-no-background-271 {
  width: 209px;
  position: relative;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
}
.navbar-child19 {
  width: 378px;
  position: relative;
  height: 20px;
  display: none;
}
.dashboard221 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 100%;
}
.dashboard-wrapper203 {
  border-bottom: 2px solid var(--fill-1-);
  justify-content: center;
  padding: var(--padding-5xs);
}
.dashboard-wrapper203,
.dashboard-wrapper204,
.instance-parent54 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dashboard-wrapper204 {
  border-radius: var(--br-5xs);
  justify-content: center;
  padding: var(--padding-5xs);
}
.instance-parent54 {
  width: 634px;
  height: 59px;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.bell-icon21 {
  width: 34px;
  position: relative;
  height: 34px;
}
.user-profile-child19 {
  width: 44px;
  position: relative;
  border-radius: 50%;
  height: 44px;
  object-fit: cover;
}
.user-profile21 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.flag-of-the-united-states-1-icon21 {
  width: 25px;
  position: relative;
  border-radius: var(--br-11xs);
  height: 18px;
  object-fit: cover;
}
.caretdown-icon63 {
  width: 18px;
  position: relative;
  height: 18px;
}
.flag-of-the-united-states-1-parent19 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.leading-icon113 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.register110 {
  position: relative;
  line-height: 18px;
}
.button152,
.button153 {
  width: 86px;
  border-radius: var(--br-xl);
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.button152 {
  border: 1px solid var(--gray-500);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button153 {
  background-color: var(--fill-1-);
  color: var(--black);
}
.button-auth21,
.button153,
.navbar21 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button-auth21 {
  height: 60px;
  justify-content: center;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--body-medium-size);
}
.navbar21 {
  width: 100%;
  justify-content: space-between;
  padding: var(--padding-41xl) var(--padding-11xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--display-s-semibold-size);
  color: var(--fill-1-);
  font-family: var(--body-medium);
}
.navbar21,
.register-as-you3 {
  position: relative;
}
.register-as-you-wrapper1 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--black);
  height: 47px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--desktop-overline-medium-10-size);
  color: var(--fill-1-);
}
.user-icon49 {
  width: 16px;
  position: relative;
  height: 16px;
}
.drop-down5,
.user-parent8 {
  display: flex;
  align-items: center;
}
.user-parent8 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.drop-down5 {
  width: 230px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--fill-1-);
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--text-s-regular-size);
  color: var(--black);
  font-family: var(--body-medium);
}
