.bg,
.bg07 {
  position: absolute;
  top: 0;
  left: 0;
}
.bg07 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  box-shadow: var(--box-shadow-inner);
  border-radius: var(--br-7xs);
  background-color: var(--blue-gray-200);
}
.bg {
  width: 56px;
  height: 56px;
}
.d-asset-icon,
.toaster-img {
  width: 56px;
  height: 56px;
  overflow: hidden;
}
.d-asset-icon {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.toaster-img {
  position: relative;
  flex-shrink: 0;
  z-index: 0;
}
.wallet-icon41 {
  width: 24px;
  position: absolute;
  margin: 0 !important;
  top: 16px;
  left: 16px;
  height: 24px;
  z-index: 1;
}
.toaster-img-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.payment-successful,
.today-315am {
  position: relative;
  line-height: 24px;
}
.today-315am {
  font-size: var(--text-s-regular-size);
  color: var(--blue-gray-500);
  white-space: pre-wrap;
}
.content247,
.toaster {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.toaster {
  width: 340px;
  box-shadow: var(--box-shadow-base);
  border-radius: var(--br-xs);
  background-color: var(--fill-1-);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.today-315am11 {
  position: relative;
  font-size: var(--text-s-regular-size);
  line-height: 24px;
  color: var(--blue-gray-500);
}
.not {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  height: 420px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--text-md-regular-size);
  color: var(--black);
  font-family: var(--body-medium);
}
