.caretleft-icon9 {
  width: 20px;
  position: relative;
  height: 20px;
}
.back6 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.caretleft-parent4 {
  position: absolute;
  top: 133px;
  left: 281px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  color: var(--black);
}
.dashboard43 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 100%;
}
.dashboard-wrapper31 {
  border-radius: var(--br-5xs);
  cursor: pointer;
}
.dashboard-wrapper31,
.dashboard-wrapper33,
.dashboard-wrapper35,
.instance-parent7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.dashboard-wrapper33 {
  border-radius: var(--br-5xs);
}
.dashboard-wrapper35,
.instance-parent7 {
  border-bottom: 2px solid var(--black);
}
.instance-parent7 {
  position: absolute;
  top: 173px;
  left: 281px;
  border-bottom: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 1137px;
  flex-wrap: wrap;
  padding: var(--padding-xl) var(--padding-11xl);
  gap: var(--gap-5xl);
  text-align: center;
  color: var(--gray-600);
}
.maxime-esse-et {
  position: relative;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  font-weight: 500;
}
.iconspin-angle {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.header4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs) 0;
}
.therere-many-admin {
  align-self: stretch;
  position: relative;
  line-height: 145%;
  text-transform: capitalize;
  color: var(--gray-400);
}
.header-and-contents {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.image-icon {
  width: 16px;
  position: relative;
  height: 16px;
}
.footer1,
.note-item {
  display: flex;
  align-items: center;
}
.footer1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.note-item {
  position: absolute;
  top: 0;
  left: 1px;
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 210px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xl);
  gap: var(--gap-xl);
}
.header-and-contents-child {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  height: 100px;
  flex-shrink: 0;
  object-fit: cover;
}
.header-and-contents1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.note-item1,
.note-item10,
.note-item11,
.note-item12,
.note-item13,
.note-item14,
.note-item2,
.note-item3,
.note-item4,
.note-item5,
.note-item6,
.note-item7,
.note-item8,
.note-item9 {
  position: absolute;
  top: 298px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl);
  gap: var(--gap-xl);
}
.note-item10,
.note-item11,
.note-item12,
.note-item13,
.note-item14,
.note-item2,
.note-item3,
.note-item4,
.note-item5,
.note-item6,
.note-item7,
.note-item8,
.note-item9 {
  top: 0;
  left: 464px;
}
.note-item10,
.note-item11,
.note-item12,
.note-item13,
.note-item14,
.note-item3,
.note-item4,
.note-item5,
.note-item6,
.note-item7,
.note-item8,
.note-item9 {
  top: 298px;
}
.note-item10,
.note-item11,
.note-item12,
.note-item13,
.note-item14,
.note-item4,
.note-item5,
.note-item6,
.note-item7,
.note-item8,
.note-item9 {
  top: 596px;
}
.note-item10,
.note-item11,
.note-item12,
.note-item13,
.note-item14,
.note-item5,
.note-item6,
.note-item7,
.note-item8,
.note-item9 {
  top: 0;
  left: 232px;
}
.note-item10,
.note-item11,
.note-item12,
.note-item13,
.note-item14,
.note-item6,
.note-item7,
.note-item8,
.note-item9 {
  top: 298px;
}
.note-item10,
.note-item11,
.note-item12,
.note-item13,
.note-item14,
.note-item7,
.note-item8,
.note-item9 {
  top: 596px;
}
.note-item10,
.note-item11,
.note-item12,
.note-item13,
.note-item14,
.note-item8,
.note-item9 {
  top: 0;
  left: 696px;
}
.note-item10,
.note-item11,
.note-item12,
.note-item13,
.note-item14,
.note-item9 {
  top: 298px;
}
.note-item10,
.note-item11,
.note-item12,
.note-item13,
.note-item14 {
  top: 596px;
}
.note-item11,
.note-item12,
.note-item13,
.note-item14 {
  top: 0;
  left: 928px;
}
.note-item12,
.note-item13,
.note-item14 {
  top: 413px;
}
.note-item13,
.note-item14 {
  top: 712px;
  left: 0;
}
.note-item14 {
  top: 711px;
  left: 923px;
}
.note-item-parent {
  position: absolute;
  top: 346px;
  left: 281px;
  width: 1138px;
  height: 864px;
  overflow-y: auto;
  font-size: var(--text-s-regular-size);
}
.add-notes {
  position: relative;
  font-weight: 500;
}
.plus-parent {
  position: absolute;
  top: 266px;
  left: 281px;
  border-radius: var(--br-xl);
  border: 1px solid var(--gray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl);
  gap: var(--gap-mini);
}
.black-logo-no-background-220 {
  width: 152px;
  position: relative;
  height: 43.6px;
  overflow: hidden;
  flex-shrink: 0;
}
.top10 {
  align-self: stretch;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg);
  box-sizing: border-box;
}
.pxiconhome2 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.item18 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.items10,
.items12 {
  align-self: stretch;
  padding: var(--padding-lg) var(--padding-base);
}
.items10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  cursor: pointer;
}
.items12 {
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  color: var(--black);
}
.item22,
.items12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.pxiconchevron-down4 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.dropdown4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-base);
  gap: var(--gap-base);
}
.chatteardroptext-icon2 {
  width: 24px;
  position: relative;
  height: 24px;
}
.item-list2,
.upper-sidebar2 {
  align-self: stretch;
  flex-direction: column;
}
.item-list2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.upper-sidebar2 {
  gap: var(--gap-9xl);
}
.items14,
.lower-item-list2,
.upper-sidebar2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.items14 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-base);
  gap: var(--gap-base);
}
.lower-item-list2 {
  width: 247px;
  flex-direction: column;
}
.avatar-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--fill-1-);
  width: 48px;
  height: 48px;
}
.jv2 {
  position: absolute;
  top: 12px;
  left: 15px;
  line-height: 24px;
}
.avatar2 {
  width: 48px;
  position: relative;
  height: 48px;
}
.lorem-ipsum-dolor2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs-1);
  line-height: 16px;
  color: var(--gray-400);
}
.profile8,
.profile9 {
  align-self: stretch;
  display: flex;
}
.profile9 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  color: var(--fill-1-);
  font-family: var(--body-medium);
}
.profile8 {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  font-family: var(--font-bold);
}
.lower-sidebar2,
.sidebar-client2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.lower-sidebar2 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-9xl);
  font-size: var(--text-md-regular-size);
}
.sidebar-client2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black);
  width: 263px;
  height: 1233px;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-base);
  box-sizing: border-box;
  font-size: var(--body-medium-size);
  color: var(--fill-1-);
}
.dashboard49 {
  position: relative;
  font-weight: 600;
}
.search10 {
  position: relative;
  line-height: 20px;
}
.search-bar2 {
  width: 400px;
  border-radius: var(--br-xl);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-base);
  gap: var(--gap-xs);
  font-size: var(--body-medium-size);
  color: var(--dark-theme-subheader-text);
}
.profile-picture-icon2 {
  width: 40px;
  position: relative;
  height: 40px;
  object-fit: cover;
}
.elizabethgmailcom3 {
  position: relative;
  font-size: var(--font-size-xs-1);
  line-height: 16px;
  color: var(--gray-400);
}
.user-name-email2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.right-side-menu2,
.user-information2,
.version-22 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-information2 {
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.right-side-menu2,
.version-22 {
  width: 280px;
  justify-content: space-between;
  font-size: var(--text-md-regular-size);
}
.version-22 {
  position: absolute;
  top: 0;
  left: 263px;
  background-color: var(--black);
  width: 1177px;
  height: 88px;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  font-size: var(--display-s-semibold-size);
  color: var(--fill-1-);
}
.notes1,
.profile-client2 {
  border-radius: var(--br-17xl);
  height: 1233px;
}
.profile-client2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--fill-1-);
  width: 1440px;
  overflow: hidden;
}
.notes1 {
  width: 100%;
  position: relative;
  text-align: left;
  font-size: var(--text-md-regular-size);
  color: var(--gray-700);
  font-family: var(--body-medium);
}
.add-note {
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
}
.hid-the-road {
  position: relative;
  font-size: var(--text-s-regular-size);
  line-height: 150%;
  color: var(--gray-400);
}
.title-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.description {
  position: relative;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  font-weight: 500;
}
.hid-the-road1 {
  margin: 0;
}
.hid-the-road-container {
  align-self: stretch;
  position: relative;
  font-size: var(--text-s-regular-size);
  line-height: 20px;
  color: var(--gray-400);
}
.description-parent,
.frame-parent52 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
  font-size: var(--display-s-semibold-size);
}
.frame-parent52 {
  border-radius: var(--br-xl);
  height: 239px;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  font-size: var(--text-md-regular-size);
}
.leading-icon25 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.add {
  position: relative;
  line-height: 18px;
}
.add-notes1,
.button32 {
  border-radius: var(--br-xl);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button32 {
  width: 380px;
  background-color: var(--black);
  height: 52px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xl);
  gap: var(--gap-5xs);
  cursor: pointer;
  font-size: var(--body-medium-size);
  color: var(--fill-1-);
}
.add-notes1 {
  width: 550px;
  position: relative;
  background-color: var(--fill-1-);
  border: 1px solid var(--gray-400);
  height: 521px;
  flex-direction: column;
  padding: var(--padding-xl);
  gap: var(--gap-31xl);
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--gray-700);
  font-family: var(--body-medium);
}
