.profile-freelancr9 {
  position: relative;
  line-height: 140%;
}
.magnifyingglass-icon11 {
  width: 18px;
  position: relative;
  height: 18px;
}
.search28 {
  position: relative;
}
.search27 {
  width: 332px;
  border-radius: var(--br-xl);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  gap: var(--gap-base);
  font-size: var(--text-s-regular-size);
  color: var(--gray-300);
}
.frame-child149,
.notifications-icon16 {
  width: 48px;
  position: relative;
  height: 48px;
}
.frame-child149 {
  width: 40px;
  border-radius: var(--br-base);
  height: 40px;
  object-fit: cover;
}
.freelancer11,
.user-name9 {
  position: relative;
  line-height: 24px;
}
.freelancer11 {
  width: 146px;
  font-size: var(--text-s-regular-size);
  line-height: 20px;
  display: inline-block;
  color: var(--gray-400);
}
.user-name-parent7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frame-wrapper20 {
  width: 72px;
  position: relative;
  height: 48px;
}
.notifications-parent7,
.rectangle-parent35 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.rectangle-parent35 {
  display: flex;
  align-items: center;
}
.notifications-parent7 {
  display: none;
  align-items: flex-start;
  font-size: var(--body-medium-size);
  color: var(--gray-1001);
}
.profile-freelancr-parent7 {
  position: absolute;
  top: 0;
  left: 259px;
  background-color: var(--black);
  width: 1181px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--display-m-semibold-size);
  color: var(--fill-1-);
}
.screenshot-9-18 {
  position: absolute;
  top: -75px;
  left: 19px;
  width: 1920px;
  height: 1080px;
}
.black-logo-no-background-234 {
  width: 152px;
  position: relative;
  height: 43.6px;
  overflow: hidden;
  flex-shrink: 0;
}
.top27 {
  align-self: stretch;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.user-icon15 {
  width: 20px;
  position: relative;
  height: 20px;
}
.content120 {
  position: relative;
  text-transform: capitalize;
}
.sidebard-item62 {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--fill-1-);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base);
  gap: var(--gap-xl);
  color: var(--black);
}
.iconsemail9 {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.sidebard-item63 {
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base);
  gap: var(--gap-xl);
}
.links12,
.main-pages9,
.sidebard-item63,
.sidebard-item66,
.top26 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.sidebard-item66 {
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base);
  gap: var(--gap-xl);
  color: var(--fill-1-);
}
.links12,
.main-pages9,
.top26 {
  flex-direction: column;
  align-items: flex-start;
}
.main-pages9,
.top26 {
  align-items: center;
}
.top26 {
  align-items: flex-start;
  gap: var(--gap-13xl);
}
.content125 {
  position: relative;
  letter-spacing: -0.03em;
  text-transform: capitalize;
}
.sidebard-item67 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-xl);
}
.bottom10,
.sidebar9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.bottom10 {
  align-self: stretch;
  justify-content: flex-start;
  font-size: var(--body-l-18-sp-bold-size);
}
.sidebar9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black);
  width: 260px;
  height: 1234px;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-xs);
  box-sizing: border-box;
  font-size: var(--body-medium-size);
  color: var(--gray-100);
}
.search-my-courses1 {
  position: relative;
  font-weight: 500;
}
.search29 {
  width: 332px;
  border-radius: var(--br-xl);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  gap: var(--gap-base);
}
.div138,
.icon8 {
  position: relative;
}
.icon8 {
  width: 24px;
  height: 24px;
}
.div138 {
  line-height: 20px;
  font-weight: 800;
}
.counter4,
.icon9 {
  height: 24px;
  display: none;
}
.counter4 {
  box-shadow: var(--shadows-gray-1-level);
  border-radius: var(--br-81xl);
  background-color: var(--fill-1-);
  border: 1px solid var(--gray-501);
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.icon9 {
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.button-91 {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--br-xl) 0 0 var(--br-xl);
  background-color: var(--gray-200);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  height: 41px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xs);
  cursor: pointer;
}
.button43 {
  position: relative;
  line-height: 20px;
}
.button-82,
.counter5 {
  background-color: var(--fill-1-);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.counter5 {
  box-shadow: var(--shadows-gray-1-level);
  border-radius: var(--br-81xl);
  border: 1px solid var(--gray-501);
  height: 24px;
  display: none;
  flex-direction: column;
  padding: var(--padding-5xs);
  color: var(--gray-5002);
}
.button-82 {
  border: 1px solid var(--gray-300);
  height: 41px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xs);
  color: var(--black);
}
.icon12 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-11,
.button-83 {
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  height: 41px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xs);
}
.button-11 {
  cursor: pointer;
}
.button-83 {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25) inset;
  border-radius: 0 var(--br-xl) var(--br-xl) 0;
  background-color: var(--gray-200);
}
.button-9-group,
.search-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button-9-group {
  align-items: center;
  text-align: center;
  color: var(--gray-5002);
  font-family: var(--text-md-regular);
}
.search-group {
  position: absolute;
  top: 170px;
  left: 280px;
  align-items: flex-start;
  gap: var(--gap-201xl);
  font-size: var(--text-s-regular-size);
}
.frame-child150 {
  width: 1px;
  position: relative;
  border-right: 1px solid var(--gray-300);
  box-sizing: border-box;
  height: 886px;
}
.kanban-icon1 {
  width: 30px;
  position: relative;
  height: 30px;
}
.find-out-how1,
.progress5 {
  width: 160px;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 23px;
  display: inline-block;
}
.progress5 {
  font-weight: 500;
}
.find-out-how1 {
  font-size: var(--text-s-regular-size);
}
.progress-group {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.kanban-group {
  flex-direction: row;
  padding: var(--padding-3xs);
  gap: var(--gap-sm);
  cursor: pointer;
}
.frame-parent146,
.kanban-group,
.line-parent7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent146 {
  width: 306px;
  border-radius: var(--br-xl);
  flex-direction: column;
  gap: var(--gap-sm);
}
.line-parent7 {
  position: absolute;
  top: 160px;
  left: 1116px;
  flex-direction: row;
  gap: var(--gap-lg);
  color: var(--color-darkslategray-300);
}
.it1 {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.frame-parent147,
.it-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.frame-parent147 {
  width: 819px;
  border-radius: var(--br-xl);
  background-color: var(--gray-300);
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-21xl);
  box-sizing: border-box;
}
.div142 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 23px;
}
.batteryempty-group,
.cyber-security-36-hrs-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.batteryempty-group {
  justify-content: center;
  gap: var(--gap-7xs);
  font-size: var(--text-s-regular-size);
  color: var(--color-darkslategray-300);
}
.cyber-security-36-hrs-group {
  align-self: stretch;
  background-color: var(--gray-1001);
  height: 55px;
  justify-content: space-between;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  color: var(--gray-500);
}
.component-481 {
  position: absolute;
  top: 240px;
  left: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  color: var(--black);
}
.back16 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.caretleft-parent14 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.points8 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 23px;
  font-weight: 500;
}
.points-wrapper3 {
  width: 121px;
  border-radius: var(--br-xl);
  background-color: var(--gray-400);
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  color: var(--fill-1-);
}
.caretdown-icon32 {
  width: 14px;
  position: relative;
  height: 14px;
}
.messages-parent3,
.name-learner-parent3 {
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.name-learner-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.messages-parent3 {
  cursor: pointer;
}
.frame-parent148,
.frame-parent149,
.messages-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-parent149 {
  justify-content: center;
  gap: var(--gap-14xl);
  font-size: var(--body-medium-size);
}
.frame-parent148 {
  position: absolute;
  top: 100px;
  left: 280px;
  width: 1118px;
  justify-content: space-between;
}
.profile-freelancer6 {
  width: 100%;
  position: relative;
  border-radius: var(--br-17xl);
  background-color: var(--fill-1-);
  height: 1233px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-md-regular-size);
  color: var(--gray-500);
  font-family: var(--body-medium);
}
.my-info,
.video-icon {
  position: relative;
}
.video-icon {
  width: 16px;
  height: 16px;
}
.drop-down2,
.video-parent {
  display: flex;
  align-items: center;
}
.video-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  cursor: pointer;
}
.drop-down2 {
  width: 175px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--fill-1-);
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--text-s-regular-size);
  color: var(--gray-500);
  font-family: var(--body-medium);
}
.leaderboard {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-7xl);
  text-transform: capitalize;
  font-weight: 500;
}
.dashboard103 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 100%;
}
.dashboard-wrapper85 {
  border-bottom: 2px solid var(--black);
  justify-content: center;
  padding: var(--padding-5xs);
}
.dashboard-wrapper85,
.dashboard-wrapper86,
.instance-parent18 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dashboard-wrapper86 {
  border-radius: var(--br-5xs);
  justify-content: center;
  padding: var(--padding-5xs);
}
.instance-parent18 {
  align-self: stretch;
  border-bottom: 1px solid var(--gray-300);
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-11xl);
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--text-md-regular-size);
  color: var(--gray-600);
}
.frame-child154 {
  width: 40px;
  position: relative;
  border-radius: 50%;
  background-color: var(--gray-300);
  height: 40px;
  z-index: 0;
}
.div166 {
  width: 8px;
  position: absolute;
  margin: 0 !important;
  top: 13px;
  left: 15px;
  line-height: 100%;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.ellipse-parent52 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.avatar-icon {
  width: 40px;
  position: relative;
  border-radius: 50%;
  height: 40px;
  object-fit: cover;
}
.name1 {
  position: relative;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  font-weight: 500;
}
.user-name-and-avatar {
  width: 525px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--display-s-semibold-size);
}
.div167 {
  position: relative;
  font-size: var(--body-l-18-sp-bold-size);
  line-height: 100%;
  font-weight: 500;
  color: var(--gray-500);
}
.iconscheck {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.chat-member {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs);
}
.how-to-collect {
  position: relative;
  line-height: 100%;
}
.button48 {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--black);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  gap: var(--gap-5xs);
  font-size: var(--display-s-semibold-size);
  color: var(--gray-5);
}
.new-member-popup {
  width: 755px;
  position: relative;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-xs);
  background-color: var(--fill-1-);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--body-medium-size);
  color: var(--black);
  font-family: var(--body-medium);
}
